<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="TimerPG.css">
    <script>
        // Redirecionar para a pr칩xima p치gina ap칩s 5 segundos
        setTimeout(function() {
            window.location.href = "Contpg.html"; // P치gina final
        }, 2000); // 5000 milissegundos = 5 segundos
    </script>
</head>
<body>
    <div class="container">
        <div class="texto"><h2 class="sorte">Boa Sorte!</h2></div>
        <div class="character">
            <img src="IMG/Robo.png" alt="Personagem" style="width: 110%; height: 100%;">
        </div>
    </div>
</body>
</html>
