<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contagem Regressiva</title>
    <link rel="stylesheet" href="ContPG.css">
</head>
<body>

    <div class="countdown-container">
        <img id="number-3" src="IMG/Num3.png" alt="Número 3" class="number">
        <img id="number-2" src="IMG/Num2.png" alt="Número 2" class="number">
        <img id="number-1" src="IMG/Num1.png" alt="Número 1" class="number">
    </div>

    <script src="ContPG.js"></script>

</body>
</html>
