<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PublicClass - Tela de Perfil</title>
    <!-- importar axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="avatar.css">
    <style>
        body {
            margin: 0;
            font-family: 'Arial', sans-serif;
            background-image: url('IMG/fd_mtr.png'), radial-gradient(farthest-corner at center, rgba(36, 123, 160, 1) 0%, rgba(0, 100, 148, 1) 30%, rgba(19, 41, 61, 1) 100%);
            background-repeat: repeat-y;
            background-position: 0% 0%, 100% 100%;
            background-size: cover;
            width: 100%;
            overflow: hidden;
        }

        i {
            border-radius: 25px;
            background: none;
            border: none;
            margin-right: 10px;
        }

        #imgrb {
            width: 200px;
            height: 200px;
            margin-top: -5%;
            margin-right: 10px;

        }

        @font-face {
            font-family: DoubleBass;
            src: url('Fonte/DoubleBass-regular-trial.ttf');
        }

        h1 {
            font-family: DoubleBass;
            margin: 0px;

        }


        .nav-buttons {
            position: fixed;
            top: 0;
            left: 0px;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            background-color: transparent;
            gap: 5px;


        }

        .nav-buttons .btn {
            font-size: 1.2rem;
            color: white;
            font-weight: bold;
            background-color: #ff9600;
            border: none;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            margin-bottom: 10px;
            padding: 10px 20px;
            width: 200px;
            text-align: left;
            transition: all 0.3s ease;
            height: 60px;
            gap: 10px;




        }



        .nav-buttons .btn:hover {
            background-color: #ffd27f;
            color: #1f496e;
            left: 0;
            transform: scale(1.05);
        }



        .main-content {
            margin-left: 100px;
            padding: 30px;
            text-align: right;
        }

        .main-content h1 {
            font-size: 120px;
            font-weight: bold;
            color: #ffffff;
            margin-bottom: 20px;
            text-align: center;

        }


        .contentPG {
            position: fixed;
            background-color: #055680;
            border-radius: 25px;
            width: 900px;
            height: 700px;
            margin: 0 auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .top-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-bottom: 2px solid white;
        }

        .btn {
            background-color: #F89C1C;
            border: none;
            padding: 10px 20px;
            color: #ffffff;
            font-weight: bold;
            border-radius: 25px;
            cursor: pointer;



        }

        .divider-line {
            width: 2px;
            height: 80px;
            background-color: #ffffff;
            margin: 0 60px;

        }

        .titulo-matematica {

            border-bottom: 1px solid white;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-size: 2rem;
        }

        .tabela-container {
            width: 100%;
            max-height: 100%;
            overflow-y: auto;
            overflow-x: auto;
            scrollbar-width: thin;
            background-color: #05476A;
            border-radius: 15px;
        }

        .tabela {
            width: 100%;
            color: #ffffff;
        }

        .tabela th,
        .tabela td {
            border: 1px solid #ffffff;
            padding: 10px;
            text-align: center;
            font-size: 16px;
        }

        /* tabela2 */

        .tabela2 th,
        .tabela2 td {
            border: 1px solid #ffffff;
            padding: 10px;
            text-align: center;
            font-size: 16px;
        }

        .tabela2 {
            width: 100%;
            color: #ffffff;
        }

        .tabela2 th,
        .tabela2 td {
            border: 1px solid #ffffff;
            padding: 10px;
            text-align: center;
            font-size: 16px;
        }

        .tabela2 th.icone,
        .tabela2 td.icone {
            background-color: #055680;
            width: 20%;
        }

        .tabela2 td.icone img {
            width: 30px;
            height: 30px;
        }

        .ver-btn {
            background-color: #F89C1C;
            border: none;
            padding: 5px 15px;
            color: #ffffff;
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
        }

        .criar-prova {
            position: fixed;
            top: 86%;
            background-color: #F89C1C;
            border: none;
            padding: 20px;
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 25px;
            width: 100%;
            max-width: 300px;
        }



        .user-name {
            display: flex;
            align-items: center;
            border-top-right-radius: 50px;
            /* Bordas arredondadas */
            border-bottom-right-radius: 50px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            background-color: #FF8C00;
            color: white;
            padding: auto;
            border-radius: px;
            width: 300px;
            height: 60px;
            margin-bottom: 10%;
            margin-top: 8%;
        }

        .user-name h2 {
            font-size: 22px;
            padding-top: 10px;
            padding-left: 25px;
            font-family: DoubleBass;

        }

        .perfil_ft {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding-left: 10px;



        }


        /* Botões */
        .botao {
            background-color: #FF9800;
            color: #FFFFFF;
            border: none;
            border-radius: 40px;
            padding: 30px 70px;
            margin: 0 60px;
            margin-top: 40px;
            font-size: 2rem;
            font-weight: 600;
            cursor: pointer;
            text-align: center;
        }

        .botao:hover {
            background-color: #FFA726;
        }





        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            background-color: #055680;
            margin: 15% auto;

            border: 1px solid #888;
            border-radius: 40px;
            width: 60%;
            height: 60%;
            overflow-y: auto;
        }

        .close {
            position: fixed;
            top: 1%;
            left: 25% color: orange;
            font-size: 200px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }


        .tabela {
            width: 100%;
            border-collapse: collapse;
            color: white;
        }

        .tabela th,
        .tabela td {
            padding: 20px;
            text-align: center;
            border-bottom: 1px solid #ffffff;
        }

        .tabela th.numero,
        .tabela td.numero {
            width: 10%;
            background-color: #055680;
            font-size: 15px;
            font-weight: bold;

        }


        .tabela th.questao,
        .tabela td.questao {
            width: 100%;
            text-align: center;
            font-size: 15px;
            background-color: #055680;
        }

        .questaoC {
            overflow-y: auto;
            max-height: 100px;
        }

        .tabela th.icone,
        .tabela td.icone {
            background-color: #055680;
            width: 20%;
        }

        .tabela td.icone img {
            width: 30px;
            height: 30px;
        }


        .modal-content::-webkit-scrollbar,
        .questaoC::-webkit-scrollbar,
        .tabela-container::-webkit-scrollbar {
            display: none;
        }

        .table-responsive::-webkit-scrollbar {
            background-color: #807f7f;
            color: #000000;
            width: ;
        }

        input :hover {
            border: none;

        }

        .icone :hover {
            cursor: pointer;
        }

        .abas {
            border-radius: 25px;
        }

        /*dropdown  */
        /* .user-dropdown {
            position: absolute;
            display: inline-block;
        }

        .dropdown-menu {
            display: none;
            position: absolute;
            top: 55%;
            left: 0;
            background-color: #055680;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 10px;
            border-radius: 5px;
            z-index: 100;
            width: 150px;
        }

        .dropdown-menu button {
            background: #FF9800;
            color: #fff;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            width: 100%;
            cursor: pointer;
            text-align: center;
        }

        .dropdown-menu button:hover {
            background: #e60000;
        }

        .user-name {
            cursor: pointer;
            display: flex;
            align-items: center;
        } */
    </style>
</head>

<body>

    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <!-- Nome do Usuário -->
            <div class="user-name">
                <img class="perfil_ft" src="" alt="" style="margin-left: 15px;">
                <h2 id="nomeProfessor">user</h2>


            </div>

            <!-- <div class="user-dropdown">
                <div class="user-name">
                    <img class="perfil_ft" src="" alt="" style="margin-left: 15px;">
                    <h2>user</h2>
                </div>
                <div class="dropdown-menu">
                    <button class="logout-btn">Sair</button>
                </div>
            </div> -->

            <div class="col-2 nav-buttons mt-4">
                <button class="btn" onclick="window.location.href='perfil_prof.html'"><i class="fas fa-user"></i>Meu
                    perfil</button>
                <button class="btn" style="width: 250px;" onclick="window.location.href='MontarP1.html'"><i
                        class="fas fa-edit"></i>Montar
                    prova</button>
                <button class="btn" onclick="window.location.href='resultados.html'"><i
                        class="fas fa-chart-bar"></i>Resultados</button>
                <button class="btn" onclick="window.location.href='ajuda.html'"><i
                        class="fas fa-question-circle"></i>Ajuda</button>
                        <button class="btn" type="button" id="sair"><i class="fas fa-sign-out-alt"></i> Sair</button>
            </div>


            <div class="col main-content">
                <div class="container mt-5 mb-2">
                    <div class="row">
                        <div class="col" style="display: flex; align-items: center; justify-content: center;">
                            <img src="IMG/roboc.png" alt="" id="imgrb">
                            <h1 class="tit text-center">PublicClass</h1>
                        </div>
                    </div>




                    <div class="contentPG">
                        <!-- <div class="top-buttons">
                            <button onclick="window.location.href='MontarP2.html'" class="btn banco">Banco de
                                questões</button>
                            
                            <button onclick="window.location.href='MinhasQuestoes.html'" class="btn minhas"
                                style="text-decoration: underline;">Adicionar nova questão</button>
                        </div> -->

                        <div class="top-buttons">
                            <h2 style="color: #FFFFFF;" class="mt-4 mb-4">Minhas questões</h2>
                        </div>
                        <hr class="divider">

                        <div class="tabela-container">

                            <table class="tabela">
                                <thead>
                                    <tr>
                                        <th class="numero" id="enunciado">Exc.</th>
                                        <th class="numero" id="enunciado">Adc.</th>
                                        <th class="numero" id="enunciado">Enunciado</th>
                                        <th class="numero" id="">A</th>
                                        <th class="numero" id="">B</th>
                                        <th class="numero" id="">C</th>
                                        <th class="numero" id="">D</th>
                                        <th class="numero" id="">E</th>
                                        <th class="numero" id="">Item correto</th>
                                        <th class="numero" id="">Explicação</th>
                                        <th class="numero" id="">Descritor</th>
                                        <th class="numero" id="">Disciplina</th>


                                    </tr>
                                </thead>
                                <tbody id="tabelatbody">
                                    <!-- <tr>
                                        <td class="icone" id="botao" onclick="(botao)">
                                            <img src="https://cdn-icons-png.flaticon.com/512/1828/1828843.png"
                                                alt="Ícone de Lixeira">
                                        </td>
                                        <td bgcolor="#055680">
                                            <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png"
                                                alt="Ícone de Adicionar" width="24" height="24">
                                        </td>
                                        <td class="questao">
                                            <div class="questaoC">
                                            </div>
                                        </td>

                                        <td class="questao">

                                        </td>

                                        <td class="questao">

                                        </td>

                                        <td class="questao">

                                        </td>


                                        <td class="questao">

                                        </td>

                                        <td class="questao">

                                        </td>

                                        <td class="questao">

                                        </td>

                                        <td class="questao">

                                        </td>

                                        <td class="questao">

                                        </td>

                                        <td class="questao">

                                        </td>
                                    </tr> -->


                                </tbody>
                            </table>
                        </div>
                        <div style="position: fixed; top: 86%; left: 35%;">
                            <span onclick="window.location.href='MontarP2.html'"
                                style="display: inline-block; cursor: pointer;">
                                <svg id="voltar" xmlns="http://www.w3.org/2000/svg" width="80" height="80"
                                    fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 20 20"
                                    style="color: #FF8C00;">
                                    <path fill-rule="evenodd"
                                        d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
                                </svg>
                            </span>
                        </div>
                        <button class="criar-prova" onclick="abrirPasta()">Adicionar nova questão</button>
                    </div>
                    <!-- <div style="position: fixed; top: 86%; left: 75%;">
                        <span onclick="abrirPasta()" style="display: inline-block; cursor: pointer;">
                            <img src="IMG/mais.png" alt="" style="width: 60px; height: 60px;">
                        </span>
                    </div> -->



                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- O Modal -->
    <div id="myModal" class="modal">
        <span class="close" onclick="fecharModal()">
            <svg id="voltar" xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor"
                class="bi bi-arrow-left-short" viewBox="0 0 20 20" style="color: #FF8C00;">
                <path fill-rule="evenodd"
                    d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
            </svg>
        </span>
        <div class="modal-content">
            <h1 style="font-family: DoubleBass; color: #FFFFFF;" class="mt-4 mb-2 text-center">Adicione sua questão
                aqui!</h1>

            <form id="nova-questao" style="margin-left: 10%; margin-right: 10%; color: #FFFFFF;">
                <div class="abas mb-3">
                    <label for="exampleInputEmail1" class="form-label">Enunciado:</label>
                    <input type="text" name="enunciado" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" id="enunciado">

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Item A:</label>
                    <input type="text" name="alternativaA" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" id="alternativaA">

                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Item B:</label>
                    <input type="text" name="alternativaB" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" id="alternativaB">

                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Item C:</label>
                    <input type="text" name="alternativaC" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" id="alternativaC">

                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Item D:</label>
                    <input type="text" name="alternativaD" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" id="alternativaD">

                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Item E:</label>
                    <input type="text" name="alternativaE" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" id="alternativaE">

                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Item correto:</label>
                    <!-- <input type="text" name="respostaCorreta" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        id="respostaCorreta"> -->
                    <select class="form-control" aria-label="Default select example" name="respostaCorreta"
                        id="respostaCorreta">
                        <option value="null">Selecione a alternativa correta</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                    </select>

                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Explicação:</label>
                    <input type="text" name="explicacao" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" id="explicacao">

                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Disciplina:</label>
                    <!-- <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        id="disciplina"> -->
                    <select class="form-control" aria-label="Default select example" name="disciplina" id="disciplina">
                        <option value="null">Selecione a Disciplina</option>
                        <option value="Matemática">Matemática</option>
                        <option value="Português">Português</option>
                    </select>

                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Descritor:</label>
                    <!-- <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        id="descritorId "> -->
                    <!-- select que vai ser alimentando pelo js -->
                    <select class="form-control" aria-label="Default select example" name="descritorId"
                        id="descritorId">
                        <option value="null">Selecione o Descritor</option>
                    </select>

                </div>


                <button type="submit" class="btn btn-secondary mb-4"
                    style="display: flex; justify-content: space-around;">Salvar questão</button>

        </div>
        </form>
    </div>


    <script>
        function abrirPasta() {
            document.getElementById("myModal").style.display = "block";
        }

        function fecharModal() {
            document.getElementById("myModal").style.display = "none";
        }

        window.onclick = function (event) {
            const modal = document.getElementById("myModal");
            if (event.target == modal) {
                fecharModal();
            }
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

        <script>
            const sair = document.getElementById('sair');
            sair.addEventListener('click', () => {
                axios.get('/auth/logout').then(() => {
                    window.location.href = '/';
                })
            });
        </script>

    <script>
        function deletarQuestao(id) {
            axios.delete(`/questoes/${id}`)
                .then(response => {
                    console.log(response.data);
                    // atualizar a tabela com as questões atualizadas
                    window.location.reload();
                })
                .catch(error => {
                    console.error(error);
                });
        }

        // adicionar questão ao localStorage e evitar adicionar ela duas vezes
        function adicionarQuestao(questao) {
            const questoes = JSON.parse(localStorage.getItem('questoes')) || [];
            if (!questoes.includes(questao)) {
                questoes.push(questao);
                localStorage.setItem('questoes', JSON.stringify(questoes));
            } else {
                alert('Questão adicionada anteriormente!');
            }
        }
    </script>

    <script>
        axios.get('/questoes/questao-by-professor')
            .then(response => {
                console.log(response.data);
                const questoes = response.data;

                // Seleciona o corpo da tabela
                const tbody = document.querySelector('#tabelatbody');

                questoes.forEach(questao => {
                    // Cria uma nova linha da tabela
                    const tr = document.createElement('tr');

                    // Botão de deletar
                    const tdDelete = document.createElement('td');
                    tdDelete.classList.add('icone');
                    tdDelete.id = 'botao';
                    tdDelete.onclick = () => deletarQuestao(questao.id);
                    const imgDelete = document.createElement('img');
                    imgDelete.src = "https://cdn-icons-png.flaticon.com/512/1828/1828843.png";
                    imgDelete.alt = "Ícone de Lixeira";
                    tdDelete.appendChild(imgDelete);

                    // Botão de adicionar
                    const tdAdd = document.createElement('td');
                    tdAdd.style.backgroundColor = "#055680";
                    tdAdd.onclick = () => adicionarQuestao(questao.id); // Corrigido o erro que usava JSON.parse
                    const imgAdd = document.createElement('img');
                    imgAdd.src = "https://cdn-icons-png.flaticon.com/512/1828/1828817.png";
                    imgAdd.alt = "Ícone de Adicionar";
                    imgAdd.width = 24;
                    imgAdd.height = 24;
                    tdAdd.appendChild(imgAdd);

                    // Colunas dos dados da questão
                    const tdEnunciado = document.createElement('td');
                    tdEnunciado.style.textAlign = "justify"
                    tdEnunciado.textContent = questao.enunciado;

                    const tdAlternativaA = document.createElement('td');
                    tdAlternativaA.textContent = questao.alternativaA;

                    const tdAlternativaB = document.createElement('td');
                    tdAlternativaB.textContent = questao.alternativaB;

                    const tdAlternativaC = document.createElement('td');
                    tdAlternativaC.textContent = questao.alternativaC;

                    const tdAlternativaD = document.createElement('td');
                    tdAlternativaD.textContent = questao.alternativaD;

                    const tdAlternativaE = document.createElement('td');
                    tdAlternativaE.textContent = questao.alternativaE;

                    const tdRespostaCorreta = document.createElement('td');
                    tdRespostaCorreta.textContent = questao.respostaCorreta;

                    const tdExplicacao = document.createElement('td');
                    tdExplicacao.textContent = questao.explicacao;

                    const tdDescritor = document.createElement('td');
                    tdDescritor.textContent = `${questao.descritor.codigo} - ${questao.descritor.descricao}`;

                    const tdDisciplina = document.createElement('td');
                    tdDisciplina.textContent = questao.disciplina;

                    // Adiciona as células à linha
                    tr.appendChild(tdDelete);
                    tr.appendChild(tdAdd);
                    tr.appendChild(tdEnunciado);
                    tr.appendChild(tdAlternativaA);
                    tr.appendChild(tdAlternativaB);
                    tr.appendChild(tdAlternativaC);
                    tr.appendChild(tdAlternativaD);
                    tr.appendChild(tdAlternativaE);
                    tr.appendChild(tdRespostaCorreta);
                    tr.appendChild(tdExplicacao);
                    tr.appendChild(tdDescritor);
                    tr.appendChild(tdDisciplina);

                    // Adiciona a linha à tabela
                    tbody.appendChild(tr);
                });
            })
            .catch(error => {
                console.error(error);
            });


        const selectDisciplina = document.getElementById('disciplina');
        const selectDescritor = document.getElementById('descritorId');
        selectDescritor.disabled = true;
        selectDisciplina.addEventListener('change', function () {
            const disciplina = selectDisciplina.value;
            axios.get('/descritores/descritor-by-disciplina/' + disciplina)
                .then(response => {
                    console.log(response.data);
                    selectDescritor.disabled = false;
                    selectDescritor.innerHTML = '';
                    // alimentar o select 'descritorId' com os descritores no formato 'codigo - descricao'
                    response.data.forEach(descritor => {
                        const option = document.createElement('option');
                        option.value = descritor.id;
                        option.textContent = `${descritor.codigo} - ${descritor.descricao}`;
                        selectDescritor.appendChild(option);
                    });

                })
                .catch(error => {
                    console.error(error);
                });
        })

        const form = document.querySelector('#nova-questao');

        // Adiciona um evento de envio ao formulário
        form.addEventListener('submit', function (event) {
            event.preventDefault(); // Previne o comportamento padrão de recarregar a página

            // Cria um objeto com os dados do formulário
            const formData = new FormData(form);
            const data = Object.fromEntries(formData.entries());

            // Envia os dados para o servidor
            axios.post('/questoes', data)
                .then(function (response) {
                    console.log(response.data);
                    // Limpa o formulário
                    form.reset();
                    fecharModal();
                    window.location.reload();
                })
                .catch(function (error) {
                    console.error(error);
                })
        })
    </script>

    <script>
        axios.get('/professor')
            .then((response) => {
                const nome = document.querySelector("#nomeProfessor");
                const nomeNoPerfil = document.querySelector("#nomePerfil");
                const disciplina = document.querySelector("#disciplina");
                const instituicao = document.querySelector("#instituicao");
                const email = document.querySelector("#email");
                const senha = document.querySelector("#senha");

                // Campos de texto
                nome.innerHTML = response.data.nome;
                nomeNoPerfil.value = response.data.nome;
                email.value = response.data.email;
                senha.value = response.data.senha;

                // Campos de select
                disciplina.value = response.data.disciplina;
                instituicao.value = response.data.instituicao;

                console.log(response.data);
            })
            .catch((e) => {
                console.log(e);
            });
    </script>


</body>

</html>