<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Questões</title>
</head>
<body>
  <form id="qForm">
    <label for="enunciado">Enunciado:</label>
    <textarea name="enunciado" id="enunciado"></textarea>
    <label for="A">Item A:</label>
    <textarea name="A" id="A"></textarea>
    <label for="B">Item B:</label>
    <textarea name="B" id="B"></textarea>
    <label for="C">Item C:</label>
    <textarea name="C" id="C"></textarea>
    <label for="D">Item D:</label>
    <textarea name="D" id="D"></textarea>
    <label for="E">Item E:</label>
    <textarea name="E" id="E"></textarea>
  </form>
</body>
</html>