<!-- pág onde o professor pode ver os resultados das provas feitas-->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PublicClass - Resultados </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
        body {
            margin: 0;
            font-family: 'Arial', sans-serif;
            background-image: url('IMG/fd_mtr.png'), radial-gradient(farthest-corner at center, rgba(36, 123, 160, 1) 0%, rgba(0, 100, 148, 1) 30%, rgba(19, 41, 61, 1) 100%);
            background-repeat: repeat-y;
            background-position: 0% 0%, 100% 100%;
            background-size: cover;
            width: 100%;
            overflow: hidden;
        }

        i {
            border-radius: 25px;
            background: none;
            border: none;
            margin-right: 10px;
        }

        #imgrb {
            width: 200px;
            height: 200px;
            margin-top: -5%;
            margin-right: 10px;

        }

        @font-face {
            font-family: DoubleBass;
            src: url('Fonte/DoubleBass-regular-trial.ttf');
        }

        h1 {
            font-family: DoubleBass;
            margin: 0px;

        }



        .nav-buttons {
            position: fixed;
            top: 0;
            left: 0px;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            background-color: transparent;
            gap: 5px;


        }

        .nav-buttons .btn {
            font-size: 1.2rem;
            color: white;
            font-weight: bold;
            background-color: #ff9600;
            /* Cor laranja dos botões */
            border: none;
            border-top-right-radius: 50px;
            /* Bordas arredondadas */
            border-bottom-right-radius: 50px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            margin-bottom: 10px;
            padding: 10px 20px;
            width: 200px;
            text-align: left;
            transition: all 0.3s ease;
            height: 60px;
            gap: 10px;




        }



        .nav-buttons .btn:hover {
            background-color: #ffd27f;
            color: #1f496e;
            left: 0;
            transform: scale(1.05);
        }




        .main-content {

            margin-left: 100px;
            padding: 30px;
            text-align: right;
        }

        .main-content h1 {

            font-size: 120px;
            font-weight: bold;
            color: #ffffff;
            margin-bottom: 0spx;
            text-align: center;

        }

        .caixa {

            background-color: #055680;
            /* Azul para o formulário */
            padding: 20px;
            border-radius: 25px;
            width: 900px;
            height: 550px;
            margin-left: auto;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            align-items: center;
            overflow-y: auto;
            overflow-y: auto;
            scrollbar-width: none;
        }


        .caixa::-webkit-scrollbar {
            display: none;
        }

        .caixa::-webkit-scrollbar-track {
            background: #0d2d3d;
            border-radius: 10px;
        }

        .caixa::-webkit-scrollbar-thumb {
            background-color: #ffffff;
            border-radius: 10px;
            border: 2px solid #0d2d3d;
        }



        .form-container label {
            color: white;
            font-weight: bold;
        }

        .form-container .form-control {
            background-color: #d9e6f2;
            /* Fundo claro para inputs */



            border-radius: 25px;
        }

        .btn-save {
            background-color: #ff4040;
            /* Vermelho para o botão Salvar */
            color: white;
            width: 50px;
            border-radius: 25px;

        }

        .btn-save:hover {
            background-color: #cc3333;
        }

        .input-group-text {
            background-color: transparent;
            border: none;
        }

        /* Responsividade */
        @media (max-width: 768px) {
            .nav-buttons {
                position: relative;
                width: 100%;
                height: auto;
                flex-direction: row;
                justify-content: space-around;
                padding: 10px 0;
                left: 0;
            }

            .main-content {
                margin-left: 0;
                padding: 15px;
                text-align: center;
            }

            .form-container {
                width: 100%;
                text-align: left;
            }
        }

        .user-name {
            display: flex;
            align-items: center;
            border-top-right-radius: 50px;
            /* Bordas arredondadas */
            border-bottom-right-radius: 50px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            background-color: #FF8C00;
            color: white;
            padding: auto;
            border-radius: px;
            width: 300px;
            height: 60px;
            margin-bottom: 10%;
            margin-top: 8%;
        }

        .user-name h2 {
            font-size: 22px;
            padding-top: 10px;
            padding-left: 25px;
            font-family: DoubleBass;

        }

        .perfil_ft {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding-left: 10px;



        }

        @media (min-width: 576px) and (max-width: 768px) {
            h1 {
                font-size: 100px
            }


        }

        .form-group {
            gap: 10px;
        }

        #togglePassword {
            position: absolute;
            right: 15px;
            cursor: pointer;
            color: #6c757d;
        }

        .input-group {
            position: relative;

        }

        .btn-save-final {
            background-color: #ff4040;
            color: white;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 25px;
        }

        .btn-save-final:hover {
            background-color: #cc3333;
            color: #ffffff
        }

        .tajud {
            margin-top: 2%;
            font-size: 25px;
            color: #ffffff;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }

        .linha {
            border-color: #ffffff;
            color: #ffffff;
            height: 50px;
            width: 100%;
        }

        .linha hr {
            border-top-width: 3px;
            /* Aumente a espessura conforme necessário */
            border-top-style: solid;
            /* Define a linha como sólida */
            border-color: #ffffff;
            /* Cor branca */
            opacity: 1;

            width: 100%;
        }

        h5 {
            margin: 0;
            /* Remove margens padrão */
            padding: 0;
            /* Remove padding */
            box-sizing: border-box;
        }





        .tabela-container {
            width: 100%;
            max-height: 400px;
            overflow-y: auto;
            scrollbar-width: none;
            background-color: #055680;
            border-radius: 25pxpx;

        }

        .table-responsive {
            width: 100%;
            color: #ffffff;
            border-radius: 25px;
            overflow-y: auto;
            overflow-x: auto;
        }

        .table-responsive th,
        .table-responsive td {
            border: 1px solid #ffffff;
            padding: 10px;
            text-align: center;
            font-size: 16px;
        }

        #voltar {
            transition: all 6s;


        }

        #voltar:hover {
            transform: scale(1.01);
        }

        #ttab {
            font-size: 15px;
        }
    </style>
</head>

<body>

    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <!-- Nome do Usuário -->
            <div class="user-name">
                <img class="perfil_ft" src="" alt="" style="margin-left: 15px;">
                <h2 id="nomeProfessor">user</h2>
            </div>

            <!-- Botões de Navegação -->
            <div class="col-2 nav-buttons mt-4">
                <button class="btn" onclick="window.location.href='perfil_prof.html'"><i class="fas fa-user"></i>Meu
                    perfil</button>
                <button class="btn" onclick="window.location.href='MontarP1.html'"><i class="fas fa-edit"></i>Montar
                    prova</button>
                <button class="btn" style="width: 250px;"><i class="fas fa-chart-bar"></i>Resultados</button>
                <button class="btn" onclick="window.location.href='ajuda.html'"><i
                        class="fas fa-question-circle"></i>Ajuda</button>
            </div>



            <!-- Conteúdo Principal -->
            <div class="col main-content">
                <div class="container mt-5 mb-2">
                    <div class="row">
                        <div class="col" style="display: flex; align-items: center; justify-content: center;">
                            <img src="IMG/roboc.png" alt="" id="imgrb">
                            <h1 class="tit text-center">PublicClass</h1>
                        </div>
                    </div>

                    <div class="caixa">
                        <div class="container mt-5 mb-2">

                            <div class="tabela-container" id="tabela-vista-pedagogica">

                                <h2 class="tajud text-center mb-3"
                                    style="color: white; font-size: 2.0em; margin-top: -1%;">Meus
                                    resultados anteriores</h2>

                                <table class="table-responsive" style="border-radius: 25px;">

                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Título</th>
                                            <th scope="col">Data</th>
                                            <th scope="col">Opções</th>
                                        </tr>
                                    </thead>
                                    <tbody id="provasTabela">
                                        <tr>
                                            <td></td><!-- id -->
                                            <td></td><!-- onde fica a turma que fez a prova-->
                                            <td></td> <!-- data de realização -->
                                            <td onclick="mostrarResultadosAnteriores()" style="cursor: pointer;">Vista
                                                pedagógica</td>
                                            <!-- botão encaminhando para ver os resultados da prova feita -->

                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>








                                    </tbody>
                                </table>


                            </div>

                            <div class="tabela-container2" id="tabela-resultados-anteriores" style="display: none;">

                                <span onclick="voltar()"><svg id="voltar" xmlns="http://www.w3.org/2000/svg" width="50"
                                        height="50" fill="currentColor" class="bi bi-arrow-left-short"
                                        viewBox="0 0 20 20" style="cursor: pointer; color: #FF8C00;">
                                        <path fill-rule="evenodd"
                                            d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
                                    </svg></span>

                                <h2 class="tajud text-center mb-3"
                                    style="color: white; font-size: 2.0em; margin-top: -6%">Vista pedagógica</h2>

                                <table class="table-responsive mb-4">

                                    <thead id="tabela-header">
                                        
                                    </thead>
                                    <tbody id="tabela-body">




                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>

                                    </tbody>
                                </table>

                                <table class="table-responsive mb-4" style="margin-bottom: 30%;">
                                    <thead>
                                        <tr>
                                            <th scope="col">Desc. de melhor aproveitamento</th>
                                            <th scope="col">Desc. com maior dificuldade</th>
                                            <th scope="col">Desc. para ficar de olho</th>
                                            <th scope="col">Desc. Intermediario</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td id="melhorAproveitamento"></td>
                                            <td id="maiorDificuldade"></td>
                                            <td id="ficarDeOlho"></td>
                                            <td id="intermediario"></td>
                                        </tr>



                                    </tbody>
                                </table>



                            </div>

                            <div class="row mt-4" style="margin-top: 0%; margin-bottom: 10%;"></div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- JavaScript e Bootstrap -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>


            <script>

                function mostrarResultadosAnteriores(id) {
                    // função para limpar as tabelas para que seja possível ser apresentada outros resultados

                    const tabela = document.getElementById('tabela-header');
                    while (tabela.firstChild) {
                        tabela.removeChild(tabela.firstChild);
                    }

                    const tabela2 = document.getElementById('tabela-body');
                    while (tabela2.firstChild) {
                        tabela2.removeChild(tabela2.firstChild);
                    }

                    // Esconde a primeira tabela
                    console.log(id);
                    axios.get(`/vista_pedagogica/${id}`)
                        .then((response) => {
                            const vista_pedagogica = response.data;
                            console.log(vista_pedagogica);

                            const tabelaHeader = document.getElementById('tabela-header');
                            // <th scope="col">Questões</th>
                            // <th scope="col"></th>
                            // <!-- looping para aparecer até o total de questões que a prova tem -->
                            // <th scope="col">Q. acertos</th>
                            const questoesH = document.createElement('th');
                            questoesH.textContent = 'Questões:';
                            tabelaHeader.appendChild(questoesH);
                            const tabelaBody = document.getElementById('tabela-body');

                            vista_pedagogica.questoes.map((q, index) => {
                                const th = document.createElement('th');
                                th.textContent = index + 1;
                                tabelaHeader.appendChild(th);    
                            })

                            const acertosH = document.createElement('th');
                            acertosH.textContent = 'Q. acertos';
                            tabelaHeader.appendChild(acertosH);

                            vista_pedagogica.alunos.map((aluno) => {
                                console.log(aluno);
                                const tr = document.createElement('tr');
                                const td = document.createElement('td');
                                td.textContent = aluno.nome;
                                tr.appendChild(td);

                                aluno.respostas.map((r) => {
                                    const acertosTd = document.createElement('td');
                                    // se a variavel acertou for true, colore verde o td
                                    acertosTd.style.backgroundColor = r.acertou ? 'green' : 'red';
                                    acertosTd.textContent = r.itemMarcado;
                                    tr.appendChild(acertosTd);
                                })

                                const acertosTd = document.createElement('td');
                                acertosTd.textContent = aluno.totalAcertos;
                                tr.appendChild(acertosTd);
                                tabelaBody.appendChild(tr);
                            })

                            const melhorAproveitamento = document.getElementById('melhorAproveitamento');
                            melhorAproveitamento.textContent = `${vista_pedagogica.avaliacaoPorDescritor.melhorAproveitamento.codigo} - ${vista_pedagogica.avaliacaoPorDescritor.melhorAproveitamento.descricao}`;

                            const maiorDificuldade = document.getElementById('maiorDificuldade');
                            maiorDificuldade.textContent = `${vista_pedagogica.avaliacaoPorDescritor.maiorDificuldade.codigo} - ${vista_pedagogica.avaliacaoPorDescritor.maiorDificuldade.descricao}`;

                            const ficarDeOlho = document.getElementById('ficarDeOlho');
                            ficarDeOlho.textContent = `${vista_pedagogica.avaliacaoPorDescritor.paraFicarDeOlho.codigo} - ${vista_pedagogica.avaliacaoPorDescritor.paraFicarDeOlho.descricao}`;

                            const intermediario = document.getElementById('intermediario');
                            intermediario.textContent = `${vista_pedagogica.avaliacaoPorDescritor.intermediario.codigo} - ${vista_pedagogica.avaliacaoPorDescritor.intermediario.descricao}`;

                        }).catch((e) => {
                            console.log(e);
                        })
                    document.getElementById('tabela-vista-pedagogica').style.display = 'none';
                    // Mostra a segunda tabela
                    document.getElementById('tabela-resultados-anteriores').style.display = 'block';
                }

                function voltar() {
                    // Esconde a primeira tabela
                    document.getElementById('tabela-resultados-anteriores').style.display = 'none';
                    // Mostra a segunda tabela
                    document.getElementById('tabela-vista-pedagogica').style.display = 'block';

                }
            </script>



</body>
<script>
    axios.get('/professor')
        .then((response) => {
            const nomeNoPerfil = document.querySelector("#nomeProfessor");
            nomeNoPerfil.innerHTML = response.data.nome;
            console.log(response.data);
        })
        .catch((e) => {
            console.log(e);
        });

    axios.get('/provas')
        .then((response) => {
            const provas = response.data;
            console.log(provas);

            const provasTabela = document.querySelector('#provasTabela');
            provas.forEach(prova => {
                const linha = document.createElement('tr');
                const colunaId = document.createElement('td');
                const colunaNome = document.createElement('td');
                const colunaData = document.createElement('td');
                const colunaAcoes = document.createElement('td');

                // Função para formatar a data
                const data = new Date(prova.dataCriacao);
                const dia = data.getDate().toString().padStart(2, '0');
                const mes = (data.getMonth() + 1).toString().padStart(2, '0');
                const ano = data.getFullYear();
                const dataFormatada = `${dia}/${mes}/${ano}`;

                colunaId.textContent = prova.id;
                colunaNome.textContent = prova.titulo;
                colunaData.textContent = dataFormatada;

                // Configura o conteúdo, o estilo e o evento de clique de colunaAcoes
                colunaAcoes.textContent = "Vista pedagógica";
                colunaAcoes.style.cursor = "pointer";
                colunaAcoes.addEventListener('click', () => mostrarResultadosAnteriores(prova.id));

                linha.appendChild(colunaId);
                linha.appendChild(colunaNome);
                linha.appendChild(colunaData);
                linha.appendChild(colunaAcoes);
                provasTabela.appendChild(linha);
            });
        })
        .catch((e) => {
            console.log(e);
        });

</script>

</html>