<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="TimerPG.css">
</head>
<body>
    <div class="container">
        <div class="texto"><h2>Perfeito! Seu tempo foi de:</h2>
        </div>
        <div class="timer">00:00</div>
        <div class="character">
            <img src="IMG/Robo.png" alt="Personagem" style="width: 100%; height: 100%;">
        </div>
    </div>
            
        
    </div>
</body>
</html>